table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #ffffff;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ffffff;
}